DISCORD_BOT_TOKEN = ""
DISCORD_CLIENT_SECRET = ""
DISCORD_CLIENT_ID = ""
DISCORD_REDIRECT_LOCAL = ""
DISCORD_REDIRECT_DEPLOY = ""
DATABASE_URL_LOCAL = ""
DATABASE_URL_DEPLOY = ""
ROCKET_SECRET_KEY = ""